.product-details .product-links .product-links-detail {
    display: inline;
    font-size: 17px;
    text-transform: none;
}

.btn {
    background: #D10024;
    color: #FFF;
    font-weight: 700;
    border-radius: 30px;
}

.btn-rate {
    height: 35px;
    margin-top: 10px;
    margin-left: 10px;
   font-weight: 400;
}

.section {
    padding-top: 70px;
    padding-bottom: 100px;
}

.owner-butns {
    justify-content: center;
    margin-top: 40px;
    margin-left: 200px;

}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 40px;
    margin-left: 200px;
}

.tags {
    margin-top: 20px;
    margin-left: 200px;
}

.tag-list {
    justify-content: center;
    margin-bottom: 0px;
    border: 2px solid #565555;
    border-radius: 30px;
    padding: 15px 25px;
}

.tags h4 {
    margin-left: 20px;
    margin-bottom: 3px;
    font-weight: 700;
    color: #565555;
}

.tag-list li {
    display: inline;
    margin-right: 8px;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 35px;
    color: #D10024;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

.featured-button {
    margin: 10px;
}