.product-img{
    text-align: center;
    padding-top: 10px;
}

.product-img img{
    width: 70px !important;
}

#aside-widget{
    border: 2px solid #64616129;
    padding: 0px 40px 10px;
    margin-top: 90px;
    position: fixed;
}

.checkbox-filter div {
    display: block;
    margin-bottom: 10px;
}

.radio-label {
    font-weight: 500;
    color: #696969;
    font-size: 13px;
}

.filter-btn {
    background: #757171;
    color: #FFF;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    padding: 10px;
    margin-left: 35px;
    width: 80px;
}

.sort-btn {
    background: #757171;
    color: #FFF;
    border: none;
    border-radius: 20px;
    padding: 3px;
    margin-left: 12px;
    width: 56px;
}

.filter-btn:hover {
    background: #5d5d5d;
}

.error-msg {
    color: #D10024;
}