#browse-all {
    border-bottom: 3px solid #D10024;

    padding: 20px;
}

.btn-browse-all {
    background: #D10024;
    color: whitesmoke;
    border: none;
    border-radius: 40px 40px 40px 40px;
    padding: 10px;
}

.btn-browse-all:hover {
    color: inherit;
}

.addon-section {
    border-top: 4px solid #7e7f83;
    padding: 10px;
    margin: 10px;
    margin-bottom: 70px;
}

a:hover {
    color: whitesmoke;
    text-decoration: none
}

