body {
    background-color: white;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}

h3 {
    text-align: center;
}

.btn-center{
    text-align: center;
}

.error {
    color: red;
}

.btn {
    height: 50px;
    width: 130px;
    background: #D10024;
    color: #FFF;
    font-weight: 700;
    border-radius: 30px;
}