<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav id="navigation" th:fragment="admin-navbar-fragment">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a href="users.html" th:href="@{/users}">Users</a></li>
                <li><a href="addons.html" th:href="@{/addons}">Addons</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>