<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav id="mainNav" th:fragment="navbar-fragment">
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-right" style="float: right">
                <li th:unless="${isAuthenticated}"><a href="../login.html" th:href="@{/login}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                <li th:unless="${isAuthenticated}"><a href="../register.html" th:href="@{/register}"><i class="fas fa-user-circle"></i> Sign In</a></li>
                <li th:if="${isAuthenticated}"><a href="../user-profile.html" th:href="@{/user/__${loggedUser.id}__}"><i class="fas fa-user-circle"></i> My Account</a></li>
                <li th:if="${isAuthenticated}"><a href="../index.html" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-2">
                    <div class="header-logo">
                        <a href="../index.html" th:href="@{/}" class="logo">
                            <img src="../../static/photos/logo.png" th:src="@{../../photos/logo.png}" alt="Logo" style="width: 160px;">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search">
                        <form th:action="@{/search}">
                            <select class="input-select" th:name="searchBy">
                                <option th:value="addons">Addons</option>
                                <option th:if="${isAdmin}" th:value="users">Users</option>
                            </select>
                            <input class="input" placeholder="Search here" th:name="search">
                            <button class="search-btn" type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-4 clearfix">
                    <div class="header-ctn">
                        <!-- Addons -->
                        <div>
                            <a th:if="${isAdmin}" th:href="@{/addons/pending}" href="pending-addons.html">
                                <i class="far fa-gem"></i>
                                <span> Pending</span>
                                <div class="qty" th:text="${pending}">2</div>
                            </a>
                        </div>
                        <div>
                            <a th:if="${isAuthenticated}" href="my-addons.html" th:href="@{/addons/my-addons}">
                                <i class="fas fa-gem"></i>
                                <span> My Addons</span>
                            </a>
                        </div>
                        <!-- Add Addons -->
                        <div>
                            <a th:if="${isAuthenticated && !loggedUser.isBlocked}" href="#" th:href="@{/addons/new}">
                                <i class="fa fa-plus-circle"></i>
                                <span> Add Addon</span>
                            </a>
                            <span th:if="${isAuthenticated && loggedUser.isBlocked}" style="color: red">Blocked</span>
                        </div>
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</nav>
</body>
</html>