<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Addon Details</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
          th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,500,700}" rel="stylesheet">
    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/slick.css"
          th:href="@{../css/theme-css/slick.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/slick-theme.css"
          th:href="@{../css/theme-css/slick-theme.css}"/>
    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/nouislider.min.css"
          th:href="@{../css/theme-css/nouislider.min.css}"/>
    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="../static/css/theme-css/font-awesome.min.css"
          th:href="@{../css/theme-css/font-awesome.min.css}">
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
            th:href="@{https://use.fontawesome.com/releases/v5.15.4/js/all.js}" crossorigin="anonymous"></script>
    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/style.css"
          th:href="@{../css/theme-css/style.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/bootstrap.min.css"
          th:href="@{../css/theme-css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/custom-css/addon-details-style.css"
          th:href="@{../css/custom-css/addon-details-style.css}"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"
            th:href="@{https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js}"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"
            th:href="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->

</head>
<body>
<!-- Navigation -->

<div th:replace="fragments/navbar :: navbar-fragment"></div>
<div th:if="${isAdmin}">
    <div th:replace="fragments/admin-navbar :: admin-navbar-fragment"></div>
</div>
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product details -->
            <div class="col-md-5" style="margin-left: 100px;">
                <div class="product-details">
                    <h2 class="product-name" th:text="${addon.name}">Addon name</h2>
                    <div th:if="${isAdmin}" th:unless="${addon.status.id == 3}" class="featured-button">
                        <a th:href="@{/addons/add-to-featured/__${addon.id}__}">
                            <button class="btn"><i class="fas fa-star"></i> Add to featured</button>
                        </a>
                    </div>
                    <div th:if="${isAdmin} and ${addon.status.id == 3}" class="featured-button">
                        <a th:href="@{/addons/remove-from-featured/__${addon.id}__}">
                            <button class="btn"><i class="fas fa-trash"></i> Remove from featured</button>
                        </a>
                    </div>
                    <div class="rating-avg" th:if="${addon.status.id != 2}">
                        <span th:text="'Rating: ' + ${#numbers.formatDecimal(addon.rating,1,1)}">Rating</span>

                        <div th:if="${addon.rating >= 1 && addon.rating < 4.5}" class="rating-stars" th:each="i: ${#numbers.sequence(1, addon.rating)}">
                            <i class="fas fa-star"></i>
                        </div>
                        <div th:if="${addon.rating >= 1 && addon.rating < 4.5}" class="rating-stars" th:each="i: ${#numbers.sequence(addon.rating+1, 5)}">
                            <i class="far fa-star"></i>
                        </div>

                        <div class="rating-stars" th:if="${addon.rating < 1}" th:each="i: ${#numbers.sequence(1, 5)}">
                            <i class="far fa-star"></i>
                        </div>

                        <div class="rating-stars" th:if="${addon.rating >= 4.5}" th:each="i: ${#numbers.sequence(1, 5)}">
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                    <ul class="product-links">
                        <li>Creator:</li>
                        <li th:text="${addon.creator.username}" class="product-links-detail">Creator</li>
                    </ul>
                    <ul class="product-links">
                        <li>For IDE:</li>
                        <li th:text="${addon.ide.name}" class="product-links-detail">IDE</li>
                    </ul>
                    <p th:text="${addon.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                        do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.</p>
                    <ul class="product-links">
                        <li>Origin Link:</li>
                        <li><a th:href="${addon.originPath}" th:text="${addon.originPath}" class="product-links-detail">Link</a>
                        </li>
                    </ul>
                    <ul class="product-links">
                        <li>Open Issues:</li>
                        <li th:text="${addon.openIssuesCount}" class="product-links-detail">Count</li>
                    </ul>
                    <ul class="product-links">
                        <li>Pull Requests:</li>
                        <li th:text="${addon.pullRequestsCount}" class="product-links-detail">Count</li>
                    </ul>
                    <ul class="product-links">
                        <li>Last Commit:</li>
                        <li th:if="${addon.lastCommitDate != null}" th:text=" 'Date: ' + ${addon.lastCommitDate}"
                            class="product-links-detail">Date
                        </li>
                        <li th:if="${addon.lastCommitMessage != null}"
                            th:text="'Message: ' + ${addon.lastCommitMessage}" class="product-links-detail">Message
                        </li>
                    </ul>
                    <ul class="product-links">
                        <li>Downloads:</li>
                        <li th:text="${addon.downloads}" class="product-links-detail">Count</li>
                        <li><a th:href="@{/addons/download/__${addon.id}__}">
                            <button class="btn"><i class="fas fa-download"></i> Download</button>
                        </a></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-5">
                <div th:if="${isAuthenticated && loggedUser.id != addon.creator.id && addon.status.id != 2}">
                    <form th:action="@{/addons/rate/__${addon.id}__}" class="rating">
                        <button class="btn btn-rate" type="submit">Rate</button>
                        <input type="radio" th:name="rating" th:value="5" id="5">
                        <label for="5">☆</label>
                        <input type="radio" th:name="rating" th:value="4" id="4">
                        <label for="4">☆</label>
                        <input type="radio" th:name="rating" th:value="3" id="3">
                        <label for="3">☆</label>
                        <input type="radio" th:name="rating" th:value="2" id="2">
                        <label for="2">☆</label>
                        <input type="radio" th:name="rating" th:value="1" id="1">
                        <label for="1">☆</label>
                    </form>
                </div>
                <div th:if="${isAuthenticated && loggedUser.id == addon.creator.id}" class="owner-butns">
                    <a th:href="@{/addons/update/__${addon.id}__}">
                        <button class="btn" style="margin-right: 10px;">Edit <i class="fas fa-pen"></i></button>
                    </a>
                    <a th:href="@{/addons/delete/__${addon.id}__}">
                        <button class="btn">Delete <i class="fas fa-trash-alt"></i></button>
                    </a>
                </div>
                <div class="tags" th:unless="${tags.isEmpty()}">
                    <h4>Tags</h4>
                    <ul class="tag-list">
                        <li th:each="tag : ${addon.tags}" th:text="${tag.name}">Tag</li>
                    </ul>
                </div>
            </div>
            <!-- /Product details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">About Us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt
                            ut.</p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Categories</h3>
                        <ul class="footer-links">
                            <li><a href="#">Hot deals</a></li>
                            <li><a href="#">Laptops</a></li>
                            <li><a href="#">Smartphones</a></li>
                            <li><a href="#">Cameras</a></li>
                            <li><a href="#">Accessories</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Information</h3>
                        <ul class="footer-links">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Orders and Returns</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">Service</h3>
                        <ul class="footer-links">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                    </ul>
                    <span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
                            class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                                                                target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/slick.min.js"></script>
<script src="../static/js/nouislider.min.js"></script>
<script src="../static/js/jquery.zoom.min.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>
