<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Addon Market - Create Addon</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
          th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,500,700}" rel="stylesheet">
    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/slick.css"
          th:href="@{../css/theme-css/slick.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/slick-theme.css"
          th:href="@{../css/theme-css/slick-theme.css}"/>
    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/nouislider.min.css"
          th:href="@{../css/theme-css/nouislider.min.css}"/>
    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="../static/css/theme-css/font-awesome.min.css"
          th:href="@{../css/theme-css/font-awesome.min.css}">
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
            th:href="@{https://use.fontawesome.com/releases/v5.15.4/js/all.js}" crossorigin="anonymous"></script>
    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/style.css"
          th:href="@{../css/theme-css/style.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/bootstrap.min.css"
          th:href="@{../css/theme-css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/custom-css/addons-page-style.css"
          th:href="@{../css/custom-css/addons-page-style.css}"/>
</head>
<body>

<!-- Navigation -->
<div th:replace="fragments/navbar :: navbar-fragment"></div>
<div th:if="${isAdmin}">
    <div th:replace="fragments/admin-navbar :: admin-navbar-fragment"></div>
</div>


<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <!-- Create a New Addon -->
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Create a new addon</h3>
                    </div>
                    <form th:action="@{/addons/new}" th:object="${addon}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Name
                                <input class="input" type="text" name="name" th:field="*{name}">
                            </label>
                            <label class="error-msg" th:errors="*{name}">Addon name error placeholder</label>
                        </div>
                        <div class="form-group">
                            <label>GitHub origin URL
                                <input class="input" type="text" name="originPath" th:field="*{originPath}">
                            </label>
                            <label class="error-msg" th:errors="*{originPath}">Origin path error placeholder</label>
                        </div>
                        <div class="form-group">
                            <label for="ide-select"> IDE </label><br/>
                            <select class="input-select" id="ide-select" name="IDE" th:field="*{ideId}">
                                <option th:value="0" th:text="'select an option'"></option>
                                <option th:each="ide : ${ides}"
                                        th:value="${ide.id}"
                                        th:text="${ide.name}">
                                    Choose IDE
                                </option>
                            </select>
                            <label class="error-msg" th:errors="*{ideId}">IDE Error Placeholder</label>
                        </div>
                        <div class="form-group">
                            <label for="tag-selection">Tags</label><br/>
                            <label class="error-msg" th:errors="*{tagIds}">Tags error placeholder</label>
                            <ul>
                                <li th:each="tag : ${tags}">
                                    <input id="tag-selection" type="checkbox" th:field="*{tagIds}" th:value="${tag.id}">
                                    <label style="font-weight: normal" th:text="${tag.name}"> Tag Name </label></li>
                            </ul>
                        </div>
                        <div class="order-notes">
                            <label for="addon-description"> Addon description</label><br/>
                            <label class="error-msg" th:errors="*{description}">Description Error Placeholder</label>
                            <textarea class="input" id="addon-description" name="description"
                                      th:field="*{description}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="file-upload">Addon File
                                <input type="file" class="form-control-file" id="file-upload" th:field="*{file}">
                            </label>
                            <label class="error-msg" th:errors="*{file}">File error placeholder</label>
                        </div>
                        <button type="submit" class="primary-btn order-submit">Submit Addon</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery Plugins -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>