<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Addons</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,500,700}" rel="stylesheet">
    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/slick.css" th:href="@{../css/theme-css/slick.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/slick-theme.css" th:href="@{../css/theme-css/slick-theme.css}"/>
    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/nouislider.min.css" th:href="@{../css/theme-css/nouislider.min.css}"/>
    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="../static/css/theme-css/font-awesome.min.css" th:href="@{../css/theme-css/font-awesome.min.css}">
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" th:href="@{https://use.fontawesome.com/releases/v5.15.4/js/all.js}" crossorigin="anonymous"></script>
    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/style.css" th:href="@{../css/theme-css/style.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/bootstrap.min.css" th:href="@{../css/theme-css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/custom-css/addons-page-style.css" th:href="@{../css/custom-css/addons-page-style.css}"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js" th:href="@{https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js}"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" th:href="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->

</head>
<body>
<!-- Navigation -->
<div th:replace="fragments/navbar :: navbar-fragment"></div>
<div th:if="${isAdmin}">
    <div th:replace="fragments/admin-navbar :: admin-navbar-fragment"></div>
</div>

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row" style="margin-left: -120px">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div id="aside-widget">
                    <div class="aside" >
                    <h3 class="aside-title">Filter by IDE</h3>
                    <div class="checkbox-filter">
                        <form th:action="@{/addons/filter-by-ide}">
                           <div th:each="ide : ${ides}">
                               <input type="radio" th:id="'ide-'+${ide.id}" th:name="filter-ide" th:value="${ide.id}">
                               <label th:for="'ide-'+${ide.id}" th:text="${ide.name}" class="radio-label">IDE</label>
                           </div>
                            <button class="filter-btn" type="submit">Filter</button>
                        </form>
                    </div>
                </div>
                </div>
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->

            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">
                        <form th:action="@{/addons/sort}">
                        <label for="sortSelect">Sort By:</label>
                            <select class="form-select" id="sortSelect" th:name="sortParam">
                                <option selected th:value="' '">Order by</option>
                                <option th:each="sortParam : ${sortParamsAvailable}"  th:text="${sortParam}"
                                   th:value="${sortParam}" >Order by</option>
                            </select>
                            <button class="sort-btn" type="submit" >Sort</button>
                        </form>
                    </div>
                </div>
                <!-- /store top filter -->

                <!-- store products -->
                <div class="row">
                    <!-- product -->
                    <div th:each="addon : ${addons}" class="col-md-3 col-xs-6">
                        <div class="product">
                            <div class="product-img">
                                <img src="../static/photos/file2.jpg" th:src="@{../photos/file2.jpg}" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category" th:text="${addon.ide.name}">IDE</p>
                                <h3 class="product-name" th:text="${addon.name}"><a href="#">Addon name</a></h3>
                                <p th:text="'author: ' + ${addon.creator.username}" >Description</p>
                                <div class="product-btns">
                                    <button class="add-to-wishlist"><a th:href="@{/addons/download/__${addon.id}__}"><i class="fas fa-download"></i><span class="tooltipp">download</span></a></button>
                                    <button class="quick-view"><a th:href="@{/addons/__${addon.id}__}"><i class="fa fa-eye"></i><span class="tooltipp">details</span></a></button>
                                    <button th:if="${isAdmin}"><a th:href="@{/addons/update/__${addon.id}__}"><i class="fas fa-pen"></i><span class="tooltipp">edit</span></a> </button>
                                    <button th:if="${isAdmin}"><a th:href="@{/addons/delete/__${addon.id}__}"><i class="fas fa-trash-alt"></i><span class="tooltipp">delete</span></a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /product -->
<!--                    <div class="clearfix visible-sm visible-xs"></div>-->
                </div>
                <!-- /store products -->

                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    <ul class="store-pagination">
                        <li class="active">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- jQuery Plugins -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/slick.min.js"></script>
<script src="../static/js/jquery.zoom.min.js"></script>
<script src="../static/js/main.js"></script>

</body>
</html>
