<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Addon Market - Homepage</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
          th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,500,700}" rel="stylesheet">
    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/slick.css"
          th:href="@{../css/theme-css/slick.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/slick-theme.css"
          th:href="@{../css/theme-css/slick-theme.css}"/>
    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/nouislider.min.css"
          th:href="@{../css/theme-css/nouislider.min.css}"/>
    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="../static/css/theme-css/font-awesome.min.css"
          th:href="@{../css/theme-css/font-awesome.min.css}">
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
            th:href="@{https://use.fontawesome.com/releases/v5.15.4/js/all.js}" crossorigin="anonymous"></script>
    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/style.css"
          th:href="@{../css/theme-css/style.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/bootstrap.min.css"
          th:href="@{../css/theme-css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/custom-css/addons-page-style.css"
          th:href="@{../css/custom-css/addons-page-style.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/custom-css/home-page-style.css"
          th:href="@{../css/custom-css/home-page-style.css}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!-- Navigation -->
<div th:replace="fragments/navbar :: navbar-fragment"></div>
<div th:if="${isAdmin}">
    <div th:replace="fragments/admin-navbar :: admin-navbar-fragment"></div>
</div>

<!-- Welcome Message -->
<div class="section">
    <div class="row text-center">
        <h1>Welcome to Addon Market!</h1>
        <h3>A platform for additions to your favorite IDEs</h3>
        <div id="browse-all">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="newsletter">
                            <button class="btn-browse-all"><a class="btn-browse-all" th:href="@{/addons}"><i
                                    class="fa fa-search"></i> <strong>BROWSE ALL ADDONS</strong></a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">

            <!-- BODY -->
            <div id="store" class="col-lg">
                <!-- Featured Addons-->
                <h2> FEATURED ADDONS </h2>
                <div class="row addon-section">
                    <div th:each="addon : ${featuredList}" class="col-md-3 col-xs-6">
                        <div class="product">
                            <div class="product-img">
                                <img src="../static/photos/file2.jpg" th:src="@{../photos/file2.jpg}">
                            </div>
                            <div class="product-body">
                                <p class="product-category" th:text="${addon.ide.name}">IDE</p>
                                <h3 class="product-name" th:text="${addon.name}"><a href="#">Addon name</a></h3>
                                <p th:text="'author: ' + ${addon.creator.username}">Author</p>
                                <div class="product-btns">
                                    <button class="add-to-wishlist"><a th:href="@{/addons/download/__${addon.id}__}"><i
                                            class="fas fa-download"></i><span class="tooltipp">download</span></a>
                                    </button>
                                    <button class="quick-view"><a th:href="@{/addons/__${addon.id}__}"><i
                                            class="fa fa-eye"></i><span class="tooltipp">details</span></a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Most Popular Addons-->
                <h2> MOST POPULAR ADDONS </h2>
                <div class="row addon-section">
                    <div th:each="addon : ${mostPopularList}" class="col-lg-2">
                        <div class="product">
                            <div class="product-img">
                                <img src="../static/photos/file2.jpg" th:src="@{../photos/file2.jpg}">
                            </div>
                            <div class="product-body">
                                <p class="product-category" th:text="${addon.ide.name}">IDE</p>
                                <h3 class="product-name" th:text="${addon.name}"><a href="#">Addon name</a></h3>
                                <p th:text="'author: ' + ${addon.creator.username}">Author</p>
                                <div class="product-btns">
                                    <button class="add-to-wishlist"><a
                                            th:href="@{/addons/download/__${addon.id}__}"><i
                                            class="fas fa-download"></i><span class="tooltipp">download</span></a>
                                    </button>
                                    <button class="quick-view"><a th:href="@{/addons/__${addon.id}__}"><i
                                            class="fa fa-eye"></i><span class="tooltipp">details</span></a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Most Recent Addons-->
                <h2> MOST RECENT ADDONS </h2>
                <div class="row addon-section">
                    <div th:each="addon : ${mostRecentList}" class="col-lg-2">
                        <div class="product">
                            <div class="product-img">
                                <img src="../static/photos/file2.jpg" th:src="@{../photos/file2.jpg}">
                            </div>
                            <div class="product-body">
                                <p class="product-category" th:text="${addon.ide.name}">IDE</p>
                                <h3 class="product-name" th:text="${addon.name}"><a href="#">Addon name</a></h3>
                                <p th:text="'author: ' + ${addon.creator.username}">Description</p>
                                <div class="product-btns">
                                    <button class="add-to-wishlist"><a
                                            th:href="@{/addons/download/__${addon.id}__}"><i
                                            class="fas fa-download"></i><span class="tooltipp">download</span></a>
                                    </button>
                                    <button class="quick-view"><a th:href="@{/addons/__${addon.id}__}"><i
                                            class="fa fa-eye"></i><span class="tooltipp">details</span></a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- INVITE A FRIEND -->
    <div id="newsletter" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <p>Invite a <strong>FRIEND</strong></p>
                        <form>
                            <input class="input" type="email" placeholder="Enter Your Email">
                            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Invite</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer id="footer">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">About Us</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt
                                ut.</p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Categories</h3>
                            <ul class="footer-links">
                                <li><a href="#">Hot deals</a></li>
                                <li><a href="#">Laptops</a></li>
                                <li><a href="#">Smartphones</a></li>
                                <li><a href="#">Cameras</a></li>
                                <li><a href="#">Accessories</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Information</h3>
                            <ul class="footer-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Orders and Returns</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Service</h3>
                            <ul class="footer-links">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">View Cart</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- juery Plugins -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
