<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css" rel="stylesheet"/>
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" th:href="@{https://use.fontawesome.com/releases/v5.15.4/js/all.js}" crossorigin="anonymous"></script>
    <!-- Custom styles -->
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/style.css" th:href="@{../css/theme-css/style.css}"/>
    <link href="../static/css/custom-css/register-style.css" th:href="@{../css/custom-css/register-style.css}" rel="stylesheet"/>
</head>
<body>
<!-- Navigation -->
<div th:replace="fragments/navbar :: navbar-fragment"></div>
<!-- Login Form -->
<div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Login Form</h3>
                    <form th:action="@{/login}" th:object="${login}" method="post">
                        <div class="row">
                            <div class="col-md-12 mb-4">
                                <div class="form-outline">
                                    <input type="text" id="username" class="form-control form-control-lg"
                                           th:field="*{username}"/>
                                    <label class="form-label" for="username">Username</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-4 pb-2">
                                <div class="form-outline">
                                    <input type="password" id="password" class="form-control form-control-lg"
                                           th:field="*{password}"/>
                                    <label class="form-label" for="password">Password</label>
                                </div>
                            </div>
                            <label class="error" th:errors="*{username}">Username error placeholder</label>
                        </div>
                        <div class="mt-4 pt-2 btn-center">
                            <input class="btn btn-lg" type="submit" value="Login"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"></script>
</body>
</html>