<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pending Addons</title>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" th:href="@{https://use.fontawesome.com/releases/v5.15.4/js/all.js}" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/style.css" th:href="@{../css/theme-css/style.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/bootstrap.min.css" th:href="@{../css/theme-css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/custom-css/table-page-style.css" th:href="@{../css/custom-css/table-page-style.css}"/>
</head>
<body>
<!-- Navigation -->
<div th:replace="fragments/navbar :: navbar-fragment"></div>
<div th:replace="fragments/admin-navbar :: admin-navbar-fragment"></div>
<div class="addons-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                        <tr>
                            <th><span>Addon</span></th>
                            <th><span>IDE</span></th>
                            <th><span>Description</span></th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody th:each="addon : ${addons}">
                        <tr>
                            <td>
                                <a th:href="@{/addons/__${addon.id}__}" th:text="${addon.name}">Name</a>
                            </td>
                            <td th:text="${addon.ide.name}">IDE</td>
                            <td th:text="${#strings.abbreviate(addon.description,40)}">Description</td>
                            <td>
                                <a th:href="@{/addons/approve/__${addon.id}__}"><button id="approve-btn">Approve</button></a>
                                <a th:href="@{/addons/update/__${addon.id}__}"><button id="edit-btn">Edit</button></a>
                                <a th:href="@{/addons/delete/__${addon.id}__}"><button id="delete-btn">Delete</button></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/slick.min.js"></script>
<script src="../static/js/jquery.zoom.min.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>