<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registration</title>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css" rel="stylesheet"/>
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" th:href="@{https://use.fontawesome.com/releases/v5.15.4/js/all.js}" crossorigin="anonymous"></script>
    <!-- Custom stylesheet -->
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/style.css" th:href="@{../css/theme-css/style.css}"/>
    <link href="../static/css/custom-css/register-style.css" th:href="@{../css/custom-css/register-style.css}" rel="stylesheet"/>
</head>
<body>
<!-- Navigation -->
<div th:replace="fragments/navbar :: navbar-fragment"></div>
<div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                    <form th:action="@{/register}" th:object="${register}" method="post">
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <input type="text" id="username" class="form-control form-control-lg"
                                           th:field="*{username}"/>
                                    <label class="form-label" for="username">Username</label>
                                </div>
                                <label class="error" th:errors="*{username}">Username error placeholder</label>
                            </div>
                            <div class="col-md-6 mb-4">
                                <div class="form-outline">
                                    <input type="email" id="email" class="form-control form-control-lg"
                                           th:field="*{email}"/>
                                    <label class="form-label" for="email">Email</label>
                                </div>
                                <label class="error" th:errors="*{email}">Email error placeholder</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 pb-2">
                                <div class="form-outline">
                                    <input type="password" id="password" class="form-control form-control-lg"
                                           th:field="*{password}"/>
                                    <label class="form-label" for="password">Password</label>
                                </div>
                                <label class="error" th:errors="*{password}">Password error placeholder</label>
                            </div>
                            <div class="col-md-6 mb-4 pb-2">
                                <div class="form-outline">
                                    <input type="tel" id="phoneNumber" class="form-control form-control-lg"
                                           th:field="*{phone}"/>
                                    <label class="form-label" for="phoneNumber">Phone Number</label>
                                </div>
                                <label class="error" th:errors="*{phone}">Phone error placeholder</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4 pb-2">
                                <div class="form-outline">
                                    <input type="password" id="confirmPass" class="form-control form-control-lg"
                                           th:field="*{confirmPassword}"/>
                                    <label class="form-label" for="confirmPass">Confirm password</label>
                                </div>
                                <label class="error" th:errors="*{confirmPassword}">Password error placeholder</label>
                            </div>
                        </div>
                        <div class="mt-4 pt-2 btn-center">
                            <input class="btn btn-lg" type="submit" value="Register"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/slick.min.js"></script>
<script src="../static/js/jquery.zoom.min.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>