<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My account</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" th:href="@{https://use.fontawesome.com/releases/v5.15.4/js/all.js}" crossorigin="anonymous"></script>
    <!-- Custom styles -->
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/style.css" th:href="@{../css/theme-css/style.css}"/>
    <link href="../static/css/custom-css/user-profile-style.css" th:href="@{../css/custom-css/user-profile-style.css}" rel="stylesheet"/>
</head>
<body>
<!-- Navigation -->
<div th:replace="fragments/navbar :: navbar-fragment"></div>
<div th:if="${isAdmin}">
<div th:replace="fragments/admin-navbar :: admin-navbar-fragment"></div>
</div>
<!-- User Details -->
<div class="container">
    <div class="main-body" style="margin-top: 40px">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img th:src="@{/user/__${user.id}__/picture}" th:alt="'Photo of ' + ${user.username}" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4 th:text="${user.username}">Username</h4>
                                <p class="text-secondary mb-1" th:text="${user.role.name}">Role</p>
                                <form method="post" th:action="@{/user/upload/__${user.id}__}" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <input type="file" name="file" class="form-control-file">
                                    </div>
                                    <p th:text="${message}" th:if="${message != null}" class="alert alert-primary"></p>
                                    <button type="submit" class="btn">Upload Photo</button>
                                </form>
                                <a th:if="${user.profilePicturePath != null}" th:href="@{/user/remove-photo/__${user.id}__}"><button class="btn" style="margin-top: 5px;">Remove photo</button></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <ul class="list-group list-group-flush" id="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <p class="mb-0">Following</p>
                            <p class="number">Number</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <p class="mb-0">Addons</p>
                            <p class="number" th:text="${addonsNumber}">Number</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <form th:action="@{/user/__${user.id}__}" th:object="${userDto}" method="post">
                        <div class="row">
                            <div class="col-sm-3">
                                <h5 class="mb-0">Username</h5>
                            </div>
                            <div class="col-sm-9 text-secondary" style="padding-top: 8px;">
                               <p th:text="${user.username}">Username</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h5 class="mb-0">Email</h5>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input class="form-control" th:placeholder="${user.email}" placeholder="email" style="width: 50%;" th:field="*{email}" type="email">
                                <label class="error" th:errors="*{email}">Email error placeholder</label>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h5 class="mb-0">Phone</h5>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input class="form-control" th:placeholder="${user.phone}" placeholder="phone" style="width: 50%;" th:field="*{phone}">
                                <label class="error" th:errors="*{phone}">Phone error placeholder</label>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h5 class="mb-0">Password</h5>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input class="form-control" placeholder="password" style="width: 50%;" th:field="*{password}" type="password">
                                <label class="error" th:errors="*{password}">Password error placeholder</label>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h5 class="mb-0">New Password</h5>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input class="form-control" placeholder="password" style="width: 50%;" th:field="*{newPassword}" type="password">
                                <label class="error" th:errors="*{newPassword}">Password error placeholder</label>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h5 class="mb-0">Confirm password</h5>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input class="form-control" placeholder="password" style="width: 50%;" th:field="*{confirmPassword}" type="password">
                                <label class="error" th:errors="*{confirmPassword}">Password error placeholder</label>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <p th:text="${successMessage}" th:if="${successMessage != null}" class="alert alert-primary"></p>
                                <input class="btn btn-lg" type="submit" value="Save changes" style="float: right; margin-right: 20px;"/>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/slick.min.js"></script>
<script src="../static/js/jquery.zoom.min.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>

