<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Users</title>
<!--    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">-->
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css" rel="stylesheet"/>-->
<!--    <link type="text/css" rel="stylesheet" th:href="@{../css/theme-css/slick.css}"/>-->
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" th:href="@{https://use.fontawesome.com/releases/v5.15.4/js/all.js}" crossorigin="anonymous"></script>
    <!-- Custom stylesheet -->
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/style.css" th:href="@{../css/theme-css/style.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/theme-css/bootstrap.min.css" th:href="@{../css/theme-css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/custom-css/table-page-style.css" th:href="@{../css/custom-css/table-page-style.css}"/>
</head>
<body>
<!-- Navigation -->
<div th:replace="fragments/navbar :: navbar-fragment"></div>
<div th:replace="fragments/admin-navbar :: admin-navbar-fragment"></div>
<!-- Users Table -->
<div class="users-container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                        <tr>
                            <th><span>User</span></th>
                            <th><span>Email</span></th>
                            <th><span>Phone</span></th>
                            <th class="text-center"><span>Status</span></th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody th:each="user : ${users}">
                        <tr>
                            <td>
                                <img th:src="@{/user/__${user.id}__/picture}" alt="">
                                <a href="user-profile.html" th:href="@{/user/__${user.id}__}" class="user-link"
                                   th:text="${user.username}">Username</a>
                                <span th:text="${user.role.name}" class="user-subhead">Role</span>
                            </td>
                            <td th:text="${user.email}">Email</td>
                            <td th:text="${user.phone}">Phone</td>
                            <td class="text-center">
                                <span class="label label-default" th:text="${user.status.name}">Status</span>
                            </td>
                            <td style="width: 20%;">
                                <div th:unless="${user.role.id == 1}">
                                <a  th:if="${user.status.id == 2}" th:href="@{/users/unblock/__${user.id}__}" class="table-link">
									<span class="fa-stack">
                                        <i class="fas fa-lock-open"></i>
									</span>
                                </a>
                                <a th:if="${user.status.id == 1}" th:href="@{/users/block/__${user.id}__}" class="table-link">
									<span class="fa-stack">
                                        <i class="fas fa-lock"></i>
									</span>
                                </a>

                                <a  href="user-profile.html" th:href="@{/user/__${user.id}__}" class="table-link">
									<span class="fa-stack">
										<i class="fas fa-pen"></i>
									</span>
                                </a>
                                <a th:href="@{/users/delete/__${user.id}__}" class="table-link danger">
									<span class="fa-stack">
										<i class="fas fa-trash-alt"></i>
									</span>
                                </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="pagination pull-right">
                    <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/slick.min.js"></script>
<script src="../static/js/jquery.zoom.min.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>